.navbar{
    
    padding: 10px;
    margin-bottom: 2rem;
    
    display:flex;
    justify-content: space-between;
    align-items:center;
    background: rgb(222, 233, 232);
    width: 1152px;
    border-radius: 25px;
    

    .auths{
        display: flex;

        a{
            margin-right: 15px;
        }

        .link{
            color: rgb(243, 34, 149);
        }
    }

    
}