.indi-comment{
    padding: 5px;
    margin-bottom: 1px;
    margin-top: 2px;
    border-radius: 10px;

    .comment-box{
        background: white;
        padding: 10px;
        border-radius: 10px;

        .comment-by{
            color: rgb(0, 0, 0);
            margin-left: 10px;

            .link{
                color: red;
            }
        }

    }
    
}