@import "../../style/mixins.scss";

.auth-form{
   
    @include card();
    width: 500px;
    margin: 0 auto;

    .form{
        display: flex;
        flex-direction: column;
        margin: 10px;
        font-size: 20px;

        input{
            padding: 10px;
            border: unset;
            margin-bottom: 20px;
            height: 35px;
            border-radius: 12px;
        }
        .btn-action{
            color:green;
            width: 100px;
            height: 30px;
            transition: 0.5s;

            &:hover{
                color: white;
                cursor: pointer;
                background: yellowgreen;
            }
        .btn-attr{
            padding: 0;
            font-size: 12px;
        }

        }
        
    }
      
}